<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solidarity Fridge - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../../styles/start.css" rel="stylesheet"/>
</head>


<body  class="d-flex flex-column min-vh-100">



  <header class="bg-header flex-shrink-0">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container d-flex justify-content-around align-items-center" >
            <!-- Logo -->
            <a href="../start/start.html" class="w-25" >
              <img class="rounded-4 logo-button" src="../../resources/logo.png" alt="Logo"/>
          </a>

           <!-- Toggle button for mobile view -->
           <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <!-- Add your menu items here if needed -->
            </ul>
          <div class="d-flex">
              <a href="../logger/iniciarSesion.html" class="btn btn-primary me-2">Iniciar sesión</a>
              <a href="../logger/crearCuenta.html" class="btn btn-outline-info">Crear cuenta</a>
          </div>
          
        </div>
        </div>
    </nav>
</header>
      
      <main class="d-flex justify-content-center align-items-center flex-grow-1 min-vh-100">
        <div class="d-flex flex-md-row align-items-center text-center w-50">
          <img src="../../resources/heladeraInicio.png" class="mb-3 img-fluid"/>
          <div>
            <h1>Solidarity Fridge</h1>
            <p>Somos una ONG que se encarga de la colocación de heladeras en distintos lugares estratégicos de nuestro pais para mejorar el acceso a los alimentos para personas con vulnerabilidad alimentaria.</p>
          </div>
        </div>
      </main>
      
      

      
      <footer>
        <div class = "w-100 bg-footer text-center flex-shrink-0">
          <p class="h6">Solidarity Fridge - copyright © 2024 all rights reserved</p>
        </div>
      </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>