<style>
    .form-floating label {
        padding-left: 0.5rem;
    }

    .btn-search img {
        max-width: 24px;
        max-height: 24px;
    }

    .btn-search:hover {
        background-color: #f1f1f1; /* Ajusta este color según la preferencia */
        border-radius: 50%;
    }

     .subrayar {
         text-decoration: none; /* Sin subrayado inicialmente */
         transition: text-decoration 0.3s ease; /* Transición suave */
     }

    .subrayar:hover {
        text-decoration: underline; /* Subrayado al pasar el mouse */
    }
</style>

{{#partial "contenido"}}
    <div class="d-flex justify-content-center align-items-start flex-grow-1 min-vh-100 container mt-5">
        {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{this.error}}
            </div>
        {{/if}}

        <div class="d-flex align-items-center text-center w-50 flex-wrap">
            <div class="container">
                <h2 class="mb-5">Reportes Semanales</h2>

                <!-- Botón para generar reporte -->
                <div class="mb-3 text-center">
                    <button id="generateReportBtn" class="btn btn-primary">Generar Nuevo Reporte</button>
                </div>

                <!-- Opciones Nombre-->
                <form action="/reportes-semanales" method="POST" class="d-flex flex-column align-items-center">
                    <div class="row w-100 mb-3 p-2">
                        <div class="col-md-5 form-floating">
                            <input type="date" id="startDate" class="form-control" name="fecha_inicio" required>
                            <label for="startDate">Fecha Inicio</label>
                        </div>

                        <div class="col-md-5 form-floating">
                            <input type="date" id="endDate" class="form-control" name="fecha_fin" required>
                            <label for="endDate">Fecha Fin</label>
                        </div>

                        <div class="col-md-2 d-flex align-items-center justify-content-center">
                            <button type="submit" class="btn btn-search p-2" style="background-color: transparent; border: none;">
                                <img src="/img/lupa_busqueda.png" alt="Buscar" style="width: 24px; height: 24px;">
                            </button>
                        </div>
                    </div>
                </form>

                <table class="table table-bordered table-sm text-center">
                    <thead>
                    <tr>
                        <th class="tabla-th-transparente w-25">Fecha</th>
                        <th class="tabla-th-transparente w-75">Archivo</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each reporteHeladera}}
                        <tr>
                            <td class="align-middle">
                                {{this.fecha}}
                            </td>
                            <td class="btn subrayar align-middle" data-bs-toggle="modal" data-bs-target="#reporteGenerico" data-path="{{this.path}}">
                                Ver reporte semanal
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- Modal para mostrar el reporte -->
    <div class="modal fade" id="reporteGenerico" tabindex="-1" aria-labelledby="modalViewLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe src="" width="100%" height="600px"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const modalView = document.getElementById('reporteGenerico');
        modalView.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const path = button.getAttribute('data-path');
            console.log(path);
            const iframe = modalView.querySelector('iframe');
            iframe.src = path;
        });

        document.getElementById('generateReportBtn').addEventListener('click', async function () {
            try {
                const response = await fetch('/generar-reporte', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({})
                });

                if (response.ok) {
                    const result = await response.json();
                    alert('Reporte generado exitosamente.');
                    location.reload();
                } else {
                    alert('Error al generar el reporte.');
                }
            } catch (error) {
                console.error('Error al generar el reporte:', error);
                alert('Hubo un problema al intentar generar el reporte.');
            }
        });
    </script>
{{/partial}}
{{>base}}
